name: block-explorer
services:
  app:
    build:
      context: .
      dockerfile: ./packages/app/Dockerfile
      target: development-stage
    command: npm run --prefix packages/app dev -- --host
    ports:
      - '3010:3010'
    volumes:
      - ./packages/app/src:/usr/src/app/packages/app/src
    depends_on:
      - api
    restart: unless-stopped

  worker:
    build:
      context: .
      dockerfile: ./packages/worker/Dockerfile
      target: development-stage
    command: npm run --prefix packages/worker dev:debug
    environment:
      - PORT=3001
      - LOG_LEVEL=verbose
      - NODE_ENV=development
      - DATABASE_HOST=postgres
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=postgres
      - DATABASE_NAME=block-explorer
      - BLOCKCHAIN_RPC_URL=http://zksync:3050
      - BATCHES_PROCESSING_POLLING_INTERVAL=1000
    ports:
      - '3001:3001'
      - '9229:9229'
      - '9230:9230'
    volumes:
      - ./packages/worker/src:/usr/src/app/packages/worker/src
    depends_on:
      zksync:
        condition: service_healthy
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: ./packages/api/Dockerfile
      target: development-stage
    command: npm run --prefix packages/api dev:debug
    environment:
      - PORT=3020
      - METRICS_PORT=3005
      - LOG_LEVEL=verbose
      - NODE_ENV=development
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/block-explorer
    ports:
      - '3020:3020'
      - '3005:3005'
      - '9231:9229'
      - '9232:9230'
    volumes:
      - ./packages/api/src:/usr/src/app/packages/api/src
    depends_on:
      - worker
    restart: unless-stopped

  postgres:
    image: "postgres:14"
    logging:
      driver: none 
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=block-explorer

  geth:
    image: "matterlabs/geth:latest"
    logging:
      driver: none
    ports:
      - "8545:8545"
      - "8546:8546"
    volumes:
      - geth:/var/lib/geth/data

  zksync:
    stdin_open: true
    tty: true
    image: matterlabs/local-node:latest2.0
    depends_on:
      postgres:
        condition: service_healthy
      geth:
        condition: service_started
    ports:
      - "3050:3050" # JSON RPC HTTP port
      - "3051:3051" # JSON RPC WS port
    volumes:
      # Configs folder bind
      - zksync-config:/etc/env/
      # Storage folder bind
      - zksync-data:/var/lib/zksync/data
    environment:
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/zksync_local
      - ETH_CLIENT_WEB3_URL=http://geth:8545
    healthcheck:
      test: "curl -H \"Content-Type: application/json\" -X POST --data '{\"jsonrpc\":\"2.0\",\"method\":\"web3_clientVersion\",\"params\":[],\"id\":67}' 127.0.0.1:3050 || exit 1"
      interval: 5s
      timeout: 5s
      retries: 120
    restart: unless-stopped

volumes:
  geth:
  postgres:
  zksync-config:
  zksync-data: