@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --color-blue: #0071e3;
  --color-blue-lightest: #f5f5f7;
  --color-gray: #6e6e73;
  --color-gray-2: #888;
  --color-error-red: #ff4f00;
}

.debugger-trace-height,
.parent-child-section {
  -ms-overflow-style: none;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
    background: #cbcfd6;
  }

  &::-webkit-scrollbar-track {
    background: #cbcfd6;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 14px;
    border: 1px solid #cbcfd6;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  body {
    @apply bg-blue-lightest min-h-screen font-sans text-base text-black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  a {
    @apply text-inherit underline hover:text-blue;
  }

  #app {
    @apply grid h-full min-h-screen w-full grid-cols-1 grid-rows-[max-content_1fr_max-content];
  }
}
