name: Deploy to GitHub Pages

on:
  pull_request:
  push:
    branches:
      - main
      - '[0-9]+.*'

permissions:
  contents: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: matter-labs/block-explorer
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.BE_TEST_DOCS_DEPLOY_KEY }}
      - name: Deploy to GitHub Pages
        working-directory: ./packages/testing-docs
        env:
          USE_SSH: true
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "gh-actions"
          npm ci
          npm run deploy
